extend layout

block content
  div.container
    .row
    .col-xs-12
      header
        h1 TP3 Asynchrone system
        h2 Guyot JULES et Thierry YIU
    .row
    .col-xs-12
      form#loginlink(action='/loginpage', method="post")
        button#login_submit.btn.btn-primary(type='submit')
          i.icon-ok.icon-white
          | Login

    .row
    .col-xs-12
      form#signuplink(action='/signuppage', method="post")
        button#signup_submit.btn.btn-info(type='submit')
          i.icon-ok.icon-white
          | Signup
