header
  text-align center
  font-style italic
  margin-bottom 3px
  border-bottom solid 1px #000

body
  font 15px sans-serif
  padding 10px

button
  padding 10px

.col-xs-6
  padding 20px

.col-xs-12
  padding 10px

.bar
  fill orange
  &:hover
    fill orangered

.x
  &.axis
    path
      display none

.d3-tip
  line-height 1
  font-weight bold
  padding 12px
  background rgba(0, 0, 0, 0.8)
  color #fff
  border-radius 2px
  &:after
    box-sizing border-box
    display inline
    font-size 10px
    width 100%
    line-height 1
    color rgba(0, 0, 0, 0.8)
    content "\25BC"
    position absolute
    text-align center
  &.n
    &:after
      margin -1px 0 0 0
      top 100%
      left 0
