@import 'nib'

@font-face
  font-family 'Roboto'
  font-style normal
  font-weight 400
  src local('Roboto Regular'),
       local('Roboto-Regular'),
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
       format('woff')

header
  text-align center
  font-style italic
  margin-bottom 3px
  border-bottom solid 1px #000

#login
  background-color #E0E0E0

#signup
  background-color #E0E0E0

#save
  background-color #E0E0E0

#delete
  background-color #E0E0E0

p
  font-size 30px

div
  text-align center
  margin-left auto
  margin-right auto
  font-family Roboto

form
  padding 10px
  margin 10px

body
  font 15px sans-serif
  padding 10px

button
  padding 10px

.col-xs-6
  padding 20px

.col-xs-12
  padding 10px
